.container{
    background-color:#f5f7f0 ;
    display: flex;
    flex-direction: column;
}
.container.div{
    font-family: 'Times New Roman', Times, serif;
        border-style: none;
        border-top-style: dotted;
        border-color: grey;
        border-width: 2px;
        border-width: 5%;}
h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF
}